<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.pwdreset.title}">JHipster activation</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p th:text="#{email.pwdreset.greeting(${user.login})}">
            Dear
        </p>
        <p th:text="#{email.pwdreset.text1}">
            Pentru a reset parola contului dvs. BizPlace accesati urmatoarea adreasa de mai jos:
        </p>
        <p>
            <a th:href="@{|${baseUrl}/#/password?key=${user.pwdResetKey}|}"
               th:text="#{email.pwdreset.linktext}">Link resetare parola</a>
        </p>
        <p>
            <span th:text="#{email.pwdreset.text2}">Regards, </span>
            <br/>
        </p>
        <p>
            <span th:text="#{email.activation.text2}">Regards, </span>
            <br/>
            <em th:text="#{email.signature}">BizPlace.</em>
        </p>
    </body>
</html>