<div ng-cloak>

   	<div class="well" ng-include src="'views/head_slider.html'"></div>

    <div class="row">
        <div class="col-md-10">
            <div class="well">
            	
            	<div >Zona centrala sus: vor fi afisate o selectie (6/8 elemente) 
            		a ultimilor anunturi de vanzare / cumparare. Modul de afisare este 
            		idem pagina VANZARE. Zona va avea o bara cu titlu
            	</div>
            	
            	<br>
            	
            	<div >Zona Centrala Jos: sunt prezentate stiri actualizate 
            		pentru ziua in care se acceseaza site-ul utilizand RSS (6/8 elemente). 
            		Zona va avea o bara cu titlu
            	</div>
            	
            </div>
        </div>
        <div class="col-md-2">
            <div class="well">
            	alege firmele in functie de categoriile de activitate/produse
            </div>
            <div class="well">
            	alege firmele in functie de judet
            </div>
        </div>
    </div>
    
     
 	<div class="row">
        <div class="col-md-2">
            <div class="well">
            	categorie random cu o 
            	descriere scurta a ultimei companii 
            	inregistrate in categoria curenta
            </div>
        </div>
        <div class="col-md-2">
            <div class="well">
            	categorie random cu o 
            	descriere scurta a ultimei companii 
            	inregistrate in categoria curenta
            </div>
        </div>
        <div class="col-md-2">
            <div class="well">
            	categorie random cu o 
            	descriere scurta a ultimei companii 
            	inregistrate in categoria curenta
            </div>
        </div>
        <div class="col-md-2">
            <div class="well">
            	categorie random cu o 
            	descriere scurta a ultimei companii 
            	inregistrate in categoria curenta
            </div>
        </div>
        <div class="col-md-2">
            <div class="well">
            	categorie random cu o 
            	descriere scurta a ultimei companii 
            	inregistrate in categoria curenta
            </div>
        </div>
        <div class="col-md-2">
            <div class="well">
            	categorie random cu o 
            	descriere scurta a ultimei companii 
            	inregistrate in categoria curenta
            </div>
        </div>
    </div>

</div>
