<div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h1 translate="register.title">Registration</h1>

            <div class="alert alert-success" ng-show="success" translate="register.messages.success">
                <strong>Registration saved!</strong> Please check your email for confirmation.
            </div>

            <div class="alert alert-danger" ng-show="error" translate="register.messages.error.fail">
                <strong>Registration failed!</strong> Please check your input and try again.
            </div>

            <div class="alert alert-danger" ng-show="errorUserExists" translate="register.messages.error.userexists">
                <strong>Login name already registered!</strong> Please choose another one.
            </div>

            <div class="alert alert-danger" ng-show="doNotMatch" translate="global.messages.error.dontmatch">
                The password and its confirmation do not match!
            </div>

            <form ng-show="!success" name="form" role="form" novalidate ng-submit="register()" show-validation>

                <div class="form-group">
                    <label translate="global.form.username">Login</label>
                    <input type="text" class="form-control" name="login" placeholder="{{'global.form.username.placeholder' | translate}}"
                           ng-model="registerAccount.login" ng-minlength=1 ng-maxlength=50 required>
                    <div ng-show="form.login.$dirty && form.login.$invalid">
                        <p class="help-block"
                               ng-show="form.login.$error.required" translate="register.messages.validate.login.required">
                            Your login is required.
                        </p>
                        <p class="help-block"
                               ng-show="form.login.$error.minlength" translate="register.messages.validate.login.minlength">
                            Your login is required to be at least 1 character
                        </p>
                        <p class="help-block"
                               ng-show="form.login.$error.maxlength" translate="register.messages.validate.login.maxlength">
                            Your login cannot be longer than 50 characters
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label translate="global.form.email">E-mail</label>
                    <input type="email" class="form-control" name="email" placeholder="{{'global.form.email.placeholder' | translate}}"
                           ng-model="registerAccount.email" ng-minlength=5 ng-maxlength=100 required>
                    <div ng-show="form.email.$dirty && form.email.$invalid">
                        <p class="help-block"
                               ng-show="form.email.$error.required" translate="global.messages.validate.email.required">
                            Your e-mail is required.
                        </p>
                        <p class="help-block"
                               ng-show="form.email.$error.email" translate="global.messages.validate.email.invalid">
                            Your e-mail is invalid.
                        </p>
                        <p class="help-block"
                               ng-show="form.email.$error.minlength" translate="global.messages.validate.email.minlength">
                            Your e-mail is required to be at least 5 characters
                        </p>
                        <p class="help-block"
                               ng-show="form.email.$error.maxlength" translate="global.messages.validate.email.maxlength">
                            Your e-mail cannot be longer than 100 characters
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label translate="global.form.newpassword">New password</label>
                    <input type="password" class="form-control" name="password" placeholder="{{'global.form.newpassword.placeholder' | translate}}"
                           ng-model="registerAccount.password" ng-minlength=5 ng-maxlength=50 required>
                    <div ng-show="form.password.$dirty && form.password.$invalid">
                        <p class="help-block"
                               ng-show="form.password.$error.required" translate="global.messages.validate.newpassword.required">
                            Your password is required.
                        </p>
                        <p class="help-block"
                               ng-show="form.password.$error.minlength" translate="global.messages.validate.newpassword.minlength">
                            Your password is required to be at least 5 characters
                        </p>
                        <p class="help-block"
                               ng-show="form.password.$error.maxlength" translate="global.messages.validate.newpassword.maxlength">
                            Your password cannot be longer than 50 characters
                        </p>
                    </div>
                    <password-strength-bar password-to-check="registerAccount.password"></password-strength-bar>
                </div>
                <div class="form-group">
                    <label translate="global.form.confirmpassword">New password confirmation</label>
                    <input type="password" class="form-control" name="confirmPassword" placeholder="{{'global.form.confirmpassword.placeholder' | translate}}"
                           ng-model="confirmPassword" ng-minlength=5 ng-maxlength=50 required>
                    <div ng-show="form.confirmPassword.$dirty && form.confirmPassword.$invalid">
                        <p class="help-block"
                               ng-show="form.confirmPassword.$error.required" translate="global.messages.validate.confirmpassword.required">
                            Your password confirmation is required.
                        </p>
                        <p class="help-block"
                               ng-show="form.confirmPassword.$error.minlength" translate="global.messages.validate.confirmpassword.minlength">
                            Your password confirmation is required to be at least 5 characters
                        </p>
                        <p class="help-block"
                               ng-show="form.confirmPassword.$error.maxlength" translate="global.messages.validate.confirmpassword.maxlength">
                            Your password confirmation cannot be longer than 50 characters
                        </p>
                    </div>
                </div>
                
 
				<br/>
            	<h1 translate="register.companie.title">Companie</h1>
                
                
                <div class="form-group">
                    <label translate="global.form.company.nume">Nume companie</label>
                    <input type="text" class="form-control" name="company.nume" placeholder="{{'global.form.company.nume.placeholder' | translate}}"
                           ng-model="registerAccount.company.nume" ng-minlength=1 ng-maxlength=50>
                    <div ng-show="form.company.nume.$dirty && form.company.nume.$invalid">
                        <p class="help-block"
                               ng-show="form.company.nume.$error.required" translate="register.messages.validate.company.nume.required">
                            Nume companie is required.
                        </p>
                        <p class="help-block"
                               ng-show="form.company.nume.$error.minlength" translate="register.messages.validate.company.nume.minlength">
                            Your nume companie is required to be at least 1 character
                        </p>
                        <p class="help-block"
                               ng-show="form.company.nume.$error.maxlength" translate="register.messages.validate.company.nume.maxlength">
                            Your nume companie cannot be longer than 50 characters
                        </p>
                    </div>
                </div>                
                <div class="form-group">
                    <label translate="global.form.company.cui">CUI</label>
                    <input type="text" class="form-control" name="company.cui" placeholder="{{'global.form.company.cui.placeholder' | translate}}"
                           ng-model="registerAccount.company.cui" ng-minlength=1 ng-maxlength=50>
                    <div ng-show="form.company.cui.$dirty && form.company.cui.$invalid">
                        <p class="help-block"
                               ng-show="form.company.cui.$error.required" translate="register.messages.validate.company.cui.required">
                            Cui companie is required.
                        </p>
                        <p class="help-block"
                               ng-show="form.company.cui.$error.minlength" translate="register.messages.validate.company.cui.minlength">
                            Your cui companie is required to be at least 1 character
                        </p>
                        <p class="help-block"
                               ng-show="form.company.cui.$error.maxlength" translate="register.messages.validate.company.cui.maxlength">
                            Your cui companie cannot be longer than 50 characters
                        </p>
                    </div>
                </div>                
                <div class="form-group">
                    <label translate="global.form.company.adresa">Adresa</label>
                    <input type="text" class="form-control" name="company.adresa" placeholder="{{'global.form.company.adresa.placeholder' | translate}}"
                           ng-model="registerAccount.company.adresa" ng-minlength=1 ng-maxlength=50 required>
                    <div ng-show="form.company.adresa.$dirty && form.company.adresa.$invalid">
                        <p class="help-block"
                               ng-show="form.company.adresa.$error.required" translate="register.messages.validate.company.adresa.required">
                            adresa companie is required.
                        </p>
                        <p class="help-block"
                               ng-show="form.company.adresa.$error.minlength" translate="register.messages.validate.company.adresa.minlength">
                            Your adresa companie is required to be at least 1 character
                        </p>
                        <p class="help-block"
                               ng-show="form.company.adresa.$error.maxlength" translate="register.messages.validate.company.adresa.maxlength">
                            Your adresa companie cannot be longer than 50 characters
                        </p>
                    </div>
                </div>                
                <div class="form-group">
                    <label translate="global.form.company.telefon">telefon</label>
                    <input type="text" class="form-control" name="company.telefon" placeholder="{{'global.form.company.telefon.placeholder' | translate}}"
                           ng-model="registerAccount.company.telefon" ng-minlength=1 ng-maxlength=50>
                    <div ng-show="form.company.telefon.$dirty && form.company.telefon.$invalid">
                        <p class="help-block"
                               ng-show="form.company.telefon.$error.required" translate="register.messages.validate.company.telefon.required">
                            telefon companie is required.
                        </p>
                        <p class="help-block"
                               ng-show="form.company.telefon.$error.minlength" translate="register.messages.validate.company.telefon.minlength">
                            Your telefon companie is required to be at least 1 character
                        </p>
                        <p class="help-block"
                               ng-show="form.company.telefon.$error.maxlength" translate="register.messages.validate.company.telefon.maxlength">
                            Your telefon companie cannot be longer than 50 characters
                        </p>
                    </div>
                </div>                
                <div class="form-group">
                    <label translate="global.form.company.email">email</label>
                    <input type="text" class="form-control" name="company.email" placeholder="{{'global.form.company.email.placeholder' | translate}}"
                           ng-model="registerAccount.company.email" ng-minlength=1 ng-maxlength=50>
                    <div ng-show="form.company.email.$dirty && form.company.email.$invalid">
                        <p class="help-block"
                               ng-show="form.company.email.$error.required" translate="register.messages.validate.company.email.required">
                            email companie is required.
                        </p>
                        <p class="help-block"
                               ng-show="form.company.email.$error.minlength" translate="register.messages.validate.company.email.minlength">
                            Your email companie is required to be at least 1 character
                        </p>
                        <p class="help-block"
                               ng-show="form.company.email.$error.maxlength" translate="register.messages.validate.company.email.maxlength">
                            Your email companie cannot be longer than 50 characters
                        </p>
                    </div>
                </div>                
                <div class="form-group">
                    <label translate="global.form.company.website">website</label>
                    <input type="text" class="form-control" name="company.website" placeholder="{{'global.form.company.website.placeholder' | translate}}"
                           ng-model="registerAccount.company.website" ng-minlength=1 ng-maxlength=50 >
                    <div ng-show="form.company.website.$dirty && form.company.website.$invalid">
                        <p class="help-block"
                               ng-show="form.company.website.$error.required" translate="register.messages.validate.company.website.required">
                            website companie is required.
                        </p>
                        <p class="help-block"
                               ng-show="form.company.website.$error.minlength" translate="register.messages.validate.company.website.minlength">
                            Your website companie is required to be at least 1 character
                        </p>
                        <p class="help-block"
                               ng-show="form.company.website.$error.maxlength" translate="register.messages.validate.company.website.maxlength">
                            Your website companie cannot be longer than 50 characters
                        </p>
                    </div>
                </div>                
                 
                   
               <div class="form-group">
                            <label>judet</label>
                            <select class="form-control" ng-model="registerAccount.company.judet" 
                            		ng-options="judet.id as judet.nume for judet in judets">
                            </select>
                </div>   
 
                <div class="form-group">
                            <label>activitate</label>
                            <select class="form-control" ng-model="registerAccount.company.activitate" 
                            		ng-options="activitate.id as activitate.nume for activitate in activitates">
                            </select>
                </div>                  

                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary" translate="register.form.button">Register</button>
            </form>
            <p></p>
<!--             <div class="alert alert-warning" translate="global.messages.info.authenticated">
                If you want to <a href="#/login">authenticate</a>, you can try the default login="admin" and
                password="admin".
            </div> -->
        </div>
    </div>
</div>
